In [13]:
import datetime
import pandas as pd
import numpy as np

In [14]:
intraday = pd.DataFrame(columns=['date', 'price'])

with open("//home/ostapkharysh/Documents/bachelor_thesis/additional_data/202_googl.txt", "r") as stock:
    for line in stock:
        el = line.split(" ")[0]+" "+ line.split(" ")[1]
        data = datetime.datetime.strptime(line.split(" ")[0]+" "+ line.split(" ")[1], '%Y-%m-%d %H:%M:%S')
        intraday = intraday.append({'date': data, 'price': float(line.split(" ")[-1].strip())}, ignore_index = True)

In [15]:
intraday.tail()

                     date    price
90103 2016-12-30 15:41:00  793.627
90104 2016-12-30 15:42:00  793.040
90105 2016-12-30 15:43:00  792.880
90106 2016-12-30 15:44:00  792.680
90107 2016-12-30 15:45:00  792.775

In [16]:
res = [np.log(intraday.price[idx]/intraday.price[idx+1]) for idx in range(0, len(intraday.price)-1)]

In [17]:
intraday = intraday[:-1]
intraday['fin_return'] = res

In [18]:
intraday.to_csv("GOOGReturn.csv", index=False)